#outlined-multiline-static{
    width: 100%;
}
h1{
    color: white;
}
.MuiInputBase-root {
    /* color: rgba(0, 0, 0, 0.87); */
    color: white !important;
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.1875em;
}
.textField label{
    color: white; 
}